<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta httpEquiv="Content-Type" content="text/html" />
    <meta httpEquiv="cache-control" content="personal website" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no"
    />
    <meta name="theme-color" content="#623686" />
    <link href="./index.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="img/logo.png" href="./logo.png" />
    <title>伶伦创音</title>
  </head>
  <body>
    <div class="app">
      <h1>欢迎使用伶伦创音!!</h1>
      
      <h2>请点击下面的链接查看数据:</h2>
      <div class="container">
      <div class="container-link">
        <a href="/api-docs/">伶伦创音API文档</a>
      </div>
      <div>
    </div>
  </body>
</html>
